html,
body,
h1,
h2,
h3,
p,
ol,
ul,
li,
a {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  font-family: Georgia, Helvetica, "Times New Roman", Arial, sans-serif;
  background: #5f5f5f;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0 15px 0;
}

h2 {
  color: aqua;
  margin: 10px 0 15px 0;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

h3 {
  margin: 15px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

ul,
ol {
  padding-left: 50px;
}
nav {
  padding-top: 10px;
  text-align: center;
}

nav ul {
  padding-left: 0;
}

nav a {
  color: #0000af;
  text-decoration: none;
}

nav li {
  display: inline;
  /* padding: 0 10px;*/
}
.recipes {
  padding: 0;
}
.recipes li {
  /* display: flex; */
  display: grid;
  grid-template-columns: min-content 1fr;

  list-style: none;
  border: 1px solid #b56663;
  padding-left: 1px;
  background: #fff url(images/white.jpg) repeat;
}
.recipes h3,
.recipes p {
  padding-left: 20px;
  border-bottom: 0;
}
.recipes a {
  text-decoration: none;
  color: brown;
}
.recipes a:hover {
  text-decoration: underline;
}
header {
  padding: 10px;
  background-color: #b5666a;
  /* color: white; 
  text-align: center; */
}
header a,
header h1 {
  color: #fff;
}
header h1,
header nav {
  text-align: center;
}

main {
  padding: 20px;
  border: 1px solid #ddd;
  margin: 30px auto 30px auto;
  width: 500px;
  background: #5f5f5f url(images/greybg1.jpg) top right repeat;
}
main p {
  line-height: 1.8;
}
.featured-image {
  /* width: 500px;
  height: 300px;
  background: #fff url(images/magic-cake.jpg) top right repeat; */
  position: relative;
}
.recipes img {
  /* float: left; */
  width: 75px;
  height: 75px;
}

.recipe-wrapper {
  /* float: left; */
}
.featured-image h3 {
  position: absolute;
  margin: 0;
  border: 0;
  top: 0;
  right: 0;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  background-color: rgba(25, 25, 25, 0.3);
  padding: 5px 0 5px 15px;
}
.photos {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
}
.photos img {
  /* width: 155px;
  height: auto; */
  width: 100%;
}
.photos li {
  /* float: left; */
  /* width: 155px; */
  /* flex-grow: 1; */
}
/* .group:after {
  content: "";
  display: table;
  clear: both;
} */
/*Suggest page Styles*/
label,
input {
  display: block;
}
label {
  margin-bottom: 10px;
}
input[type=text] {
  width: 100%;
  margin-bottom: 25px;
  border: 2px solid #7facca;
  font-size: 24px;
  padding: 7px;
}
input[type=submit] {
  width: 240px;
  font-size: 30px;
}
footer {
  background-color: #b5666a;
  padding: 10px;
}
footer p {
  color: #aaa;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  font-style: oblique;
  text-transform: uppercase;
  padding-top: 10px;
}
